<p id="notice"></p>
<div class="container">
  <div class="row">


          <h4 class="my-3 ml-3">商品一覧</h4>



            <% @products.each do |product| %>
                <div class="col-md-3">
                    <div class="product-item">
                      <section class="product-text">

                        <p class="product-img"><%= link_to product_path(product.id) do %>
                        <%= attachment_image_tag product, :image, size: "200x150", format: 'jpeg' %>
                        <% end %></p>


                        <u class="product-heading"><%=link_to product.title, product_path(product.id), class: 'text-dark' %></u>

                        <p class="product-price"><%= product.price %>円</p>


                      </section>

                    </div>
                  </div>

              <% end %>



    </div>
  </div>
