<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-8 px-5 px-sm-0 mx-auto ">


        <p>ようこそ、ながのCAKEへ！</p>
        <p>このサイトは、ケーキ販売のECサイトになります。</p>
        <p>会員でない方も商品の閲覧はできますが、</p>
        <p>購入には会員登録が必要になります。</p>

      </div>
      <% @products.each do |product| %>
                <div class="col-md-3">
                    <div class="product-item">
                      <section class="product-text">

                        <p class="product-img"><%= link_to product_path(product.id) do %>
                        <%= attachment_image_tag product, :image, size: "200x150", format: 'jpeg' %>
                        <% end %></p>


                        <u class="product-heading"><%=link_to product.title, product_path(product.id), class: 'text-dark' %></u>

                        <p class="product-price"><%= product.price %>円</p>


                      </section>

                    </div>
                  </div>

              <% end %>

    </div>
  </div>