<h2>注文履歴一覧</h2>

<table>
   <thead>
    <tr>
      <th>購入日時</th>
      <th>購入者</th>
      <th>注文個数</th>

    </tr>
  </thead>

  <tbody>

      <tr>
          <div class="order-list">
            <section class="order-text">

              <td><h3 class="order-date">購入日時</h3></td>

              <td><h3 class="order-customer">購入者</h3></td>

              <td><h3 class="order-amount">注文個数</h3></td>



            </section>
          </div>
        </tr>

  </tbody>
</table>
