<h1>注文履歴一覧（top page）</h1>

<table>
   <thead>
    <tr>
      <th>購入日時</th>
      <th>購入者</th>
      <th>注文個数</th>
    </tr>
  </thead>


<% @customers.each do |customer| %>
      <tr>
          <div class="customer-item">
            <section class="customer-text">

              <td><%= link_to customer.id,edit_admin_order_path(customer.id)  %></h3></td>

              <td><%= customer.last_name %><%= customer.first_name %></td>

            </section>
          </div>
        </tr>
     <% end %>
