<h3>商品一覧</h3>

<h1><%= link_to "+", new_admin_product_path %></h1>

<table>
  <thead>
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>税抜き価格</th>
    </tr>
  </thead>
  <% @products.each do |product| %>
      <tr>
          <div class="product-item">
            <section class="product-text">

              <td><h3 class="product-id"><%= product.id %></h3></td>

              <td><h3 class="product-heading"><%=link_to product.title, admin_product_path(product.id) %></h3></td>

              <td><h3 class="product-price"><%= product.price %>円</h3></td>


            </section>

          </div>
        <% end %>
      </tr>
</table>

