<p id="notice"></p>
<div class="container">

        <h4>商品詳細</h4>

    <div class="row">
        <div class="col-md-4 ">
            <h4>商品画像</h4>
        </div>

        <div class="col-md-8 offset-md-1">
            <h4>商品名</h4>
            <div><%= @product.title %></div>

            <h4>商品説明文</h4>
            <div><%= @product.body %></div>

            <h4>税抜価格</h4>
            <div><%= @product.price %>円</div>

            <%=link_to "編集する", edit_admin_product_path %>
        </div>

    </div>
 </div>
</div>

