<h2>商品詳細</h2>

<h4>商品画像</h4>

<h4>商品名</h4>
<div><%= @product.title %></div>

<h4>商品説明文</h4>
<div><%= @product.body %></div>

<h4>税抜価格</h4>
<div><%= @product.price %></div>

<%=link_to "編集する", edit_admin_product_path %>
